/*---------- custum -----------*/

//leaflet
section.ac-container {
	padding: 0;
}

.ac-container label {
	background: #eaeaea;
	height: 14px;
	line-height: 1.2;
	font-size: 1.0em;
	text-shadow: none;
}

.leaflet-control-layers:hover {
	background-image: none;
	background-color: #FFF;
}

.leaflet-control-layers-expanded {
	padding: 4px 5px 0 0;
}

.menu-item-checkbox {
	font-size: 1.0em;
}

.ac-container input.menu:checked~article.ac-large {
	max-height: 120px;
}

//bootstrap
.nab>li>a {
	padding: 10px 6px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
	color: #FFF;
}

.nav-tabs {
	border-bottom: none;
}

//hamburgers
.hamburger {
	outline: none;
	padding: 10px;
}

.hamburger-inner {
	background-color: #FFF;
	&:before {
		background-color: #FFF;
	}
	&:after {
		background-color: #FFF;
	}
}

//mmenu
.flexBox.mm-listView>li:not(.mm-divider):after {
	border-bottom: none;
}


/*
//resTables
table.restables-clone {
	display: none;
}

@media (max-width: 991px) {
	table.restables-origin {
		display: none;
	}
	table.restables-clone {
		display: table;
	}
*/
