html,
body
{
    height: auto;
}

body
{
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;

    margin: 0;
    padding: 0;
}

a
{
    color: #78b5d9;
}

#wrap
{
    background: #fff;
}

footer
{
    padding: 10px;
}

.flexBox
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*---------- section ----------*/
section
{
    line-height: 1.6;

    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
}
section div
{
    padding: 0 0 0 5px;
}

section #map div
{
    padding: 0 0 0 0;
}

.sectionTitle
{
    overflow: hidden;

    margin-bottom: 40px;

    text-align: center;
}
.sectionTitle span
{
    font-size: .6em;
    font-weight: 400;

    position: relative;

    display: inline-block;

    margin: 0 auto;

    text-align: center;
}
.sectionTitle span:before
{
    right: 100%;

    margin-right: 15px;
}
.sectionTitle span:after
{
    left: 100%;

    margin-left: 15px;
}

.section_content
{
    padding: 15px;
}

/*---------- header -----------*/
.header
{
    position: fixed;
    z-index: 2000;

    width: 100%;
    padding: 10px 0;
}
.header_siteTitle
{
    font-size: 1.4em;
    font-weight: 500;

    margin: 0;
    padding: 20px 0;

    text-align: center;

    color: #fff;
}
.header.smaller
{
    height: 60px;

    opacity: .8;
}
.header.smaller .header_siteTitle
{
    padding: 10px 0;
}

/*---------- mainImg -----------*/
.mainImg
{
    position: relative;
    top: 60px;
}
.mainImg_img
{
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*---------- home -----------*/
.row
{
    margin: 0 auto;
}

.home
{
    position: relative;

    margin: 60px auto 0 auto;
}
.home_date
{
    margin: 20px auto;
}
.home_eventInfo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.home_eventInfo ul
{
    margin-right: 40px;
}
.home_eventDay
{
    font-size: 1.6em;
    font-weight: 900;

    list-style: none;
}
.home_eventTime
{
    list-style: none;
}
.home_eventTime_caution
{
    font-size: .9em;

    margin: 10px auto;

    text-align: center;
}
.home_access_place
{
    margin-top: 20px;
}
.home_access_traffic
{
    margin: 20px 0 0 20px;
}

.event_day
{
    font-size: .9em;

    padding-left: 30px;
}

/*---------- event -----------*/
.mapcheckbox
{
    font-weight: 800;
}

.tab-content td > div,
.tab-content td a > div
{
    font-size: .8em;
}

.nav > li > a
{
    padding: 10px 6px;
}

.nav-tabs li.tab1 > a,
.nav-tabs li.tab2 > a,
.nav-tabs li.tab3 > a
{
    font-weight: 800;

    color: #fff;
}

.table-small
{
    display: none;

    width: 100%;
}
.table-small th
{
    width: 40%;

    text-align: right;
}
.table-small .eventTime
{
    text-align: left;

    color: #fff;
}

.event_schedule div
{
    padding-left: 0;
}

.event_schedule td
{
    padding: 0 10px;
}

.event_schedule th
{
    padding: 6px 10px;
}

.event_schedule th > a
{
    font-weight: 800;
}

.event_member
{
    font-size: .8em;
}

.eventTime
{
    font-weight: 800;
}

.panel_heading
{
    cursor: pointer;
}

.borderTop
{
    border-top: 2px solid #ccc;
}

/*
.accordion-toggle {
  border-radius: 0;
  paddinf\g: 5px;
  border: 2px solid #CCC;
  a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: inherit;
  }
  a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: inherit;
  }
}

*/
/*---------- map -----------*/
#map
{
    width: 100%;
}

/*---------- sponsors -----------*/
.sponsors
{
    background-color: #eee;
}

/*---------- nav -----------*/
.menu-btn
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 45px;
    height: 45px;

    background: url(btn-menu.gif) no-repeat left top;
    background-size: 100%;
}

.tooltip-btn
{
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 45px;
    height: 45px;

    background: url(btn-tooltip.gif) no-repeat left top;
    background-size: 100%;
}

#tooltip h2
{
    font-size: 18px;
    font-weight: bold;

    margin: .5em 0;
}

/*---------- toTop -----------*/
.toTop
{
    margin: 20px auto;

    text-align: center;
}

/*---------- footer -----------*/
footer
{
    font-weight: 500;

    text-align: center;

    color: #fff;
}

/*---------- fixInfo ----------*/
.fixInfo
{
    position: fixed;
    z-index: 9999;

    overflow: auto;

    width: 100%;
    margin: 0 auto;
    padding: 12px 20px;

    text-align: center;

    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0 -2px 7px rgba(0, 0, 0, .4);
            box-shadow: 0 -2px 7px rgba(0, 0, 0, .4);
}

/*---------- modal ----------*/
/*
#modal {
 color: #FFF;
 width: 60%;
 margin: 1.5em auto 0;
 padding: 10px 20px;
 position: fixed;
 z-index: 9999;
 border-radius: 5px;
 p {
  margin-top: 1em;
  &:first-child {
   margin-top: 0;
  }
 }
}

.panel-btn {
 display: inline-block;
 position: relative;
 width: 40px;
 height: 40px;
 margin: 0px 0 0px 90%;
 border-radius: 50%;
 background: #fff;
 &:hover {
  cursor: pointer;
 }
 &-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
  width: 20px;
  height: 3px;
  margin-top: 0px;
  background: #2196F3;
  transform: rotate(-135deg);
  &:before {
   display: block;
   margin: -2px 0px 0 1px;
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   width: 20px;
   height: 3px;
   background: #2196F3;
   transform: rotate(-90deg);
  }
 }
}

.modal-overlay {
 z-index: 1;
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 120%;
 background-color: rgba(0, 0, 0, 0.6);
}

*/
/*---------- custum -----------*/
section.ac-container
{
    padding: 0;
}

.ac-container label
{
    font-size: 1.0em;
    line-height: 1.2;

    height: 14px;

    background: #eaeaea;
    text-shadow: none;
}

.leaflet-control-layers:hover
{
    background-color: #fff;
    background-image: none;
}

.leaflet-control-layers-expanded
{
    padding: 4px 5px 0 0;
}

.menu-item-checkbox
{
    font-size: 1.0em;
}

.ac-container input.menu:checked ~ article.ac-large
{
    max-height: 120px;
}

.nab > li > a
{
    padding: 10px 6px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus
{
    color: #fff;
}

.nav-tabs
{
    border-bottom: none;
}

.hamburger
{
    outline: none;
}

.hamburger-inner
{
    background-color: #fff;
}
.hamburger-inner:before
{
    background-color: #fff;
}
.hamburger-inner:after
{
    background-color: #fff;
}

.flexBox.mm-listView > li:not(.mm-divider):after
{
    border-bottom: none;
}

/*
//resTables
table.restables-clone {
	display: none;
}

@media (max-width: 991px) {
	table.restables-origin {
		display: none;
	}
	table.restables-clone {
		display: table;
	}
*/
/*---------- @media -----------*/
@media (max-width: 768px)
{
    .col-xs-11
    {
        width: 80%;
    }
    .col-xs-1
    {
        width: 20%;
    }
    section
    {
        width: 100%;
    }
    .header.smaller
    {
        height: 50px;
    }
    .header_siteTitle
    {
        font-size: 1.0em;

        padding: 10px 0;
    }
    .home_eventInfo ul
    {
        margin-right: 0;
    }
    .home_eventInfo
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    #modal
    {
        width: 80%;
    }
    .leaflet-right .leaflet-control
    {
        margin-right: 0;
    }
    .leaflet-top .leaflet-control
    {
        margin-top: 0;
    }
    .menu-item-checkbox
    {
        font-size: .6em;
    }
    .ac-container label
    {
        font-size: .8em;
    }
}

@media (max-width: 960px)
{
    .table-large
    {
        display: none;
    }
    .table-small
    {
        display: table;
    }
}

.is_red
{
    /*
  #modal {
   background-color: $color;
  }
  */
}
.is_red .header
{
    background-color: #be1e3c;
}
.is_red .header_siteTitle
{
    background-color: #be1e3c;
}
.is_red .sectionTitle span:before,
.is_red .sectionTitle span:after
{
    position: absolute;
    top: 0;

    width: 600px;
    height: 23px;

    content: '';

    border-bottom: 1px solid #be1e3c;
}
.is_red li.tab2 > a
{
    opacity: .6;
    background-color: #be1e3c;
}
.is_red li.tab2.active > a
{
    opacity: 1;
    background-color: #be1e3c;
}
.is_red #tab2.active .table-small,
.is_red #tab2.active .table-large
{
    border-top: 4px solid #be1e3c;
}
.is_red #tab2 tr
{
    border-bottom: 1px solid #be1e3c;
}
.is_red #tab2 .table-small .eventTime
{
    background-color: #be1e3c;
}
.is_red footer
{
    background-color: #be1e3c;
}

.is_pink
{
    /*
  #modal {
   background-color: $color;
  }
  */
}
.is_pink .header
{
    background-color: #ee9ca1;
}
.is_pink .header_siteTitle
{
    background-color: #ee9ca1;
}
.is_pink .sectionTitle span:before,
.is_pink .sectionTitle span:after
{
    position: absolute;
    top: 0;

    width: 600px;
    height: 23px;

    content: '';

    border-bottom: 1px solid #ee9ca1;
}
.is_pink li.tab2 > a
{
    opacity: .6;
    background-color: #ee9ca1;
}
.is_pink li.tab2.active > a
{
    opacity: 1;
    background-color: #ee9ca1;
}
.is_pink #tab2.active .table-small,
.is_pink #tab2.active .table-large
{
    border-top: 4px solid #ee9ca1;
}
.is_pink #tab2 tr
{
    border-bottom: 1px solid #ee9ca1;
}
.is_pink #tab2 .table-small .eventTime
{
    background-color: #ee9ca1;
}
.is_pink footer
{
    background-color: #ee9ca1;
}

.is_pink2
{
    /*
  #modal {
   background-color: $color;
  }
  */
}
.is_pink2 .header
{
    background-color: #ee9ca1;
}
.is_pink2 .header_siteTitle
{
    background-color: #ee9ca1;
}
.is_pink2 .sectionTitle span:before,
.is_pink2 .sectionTitle span:after
{
    position: absolute;
    top: 0;

    width: 600px;
    height: 23px;

    content: '';

    border-bottom: 1px solid #ee9ca1;
}
.is_pink2 li.tab2 > a
{
    opacity: .6;
    background-color: #ee9ca1;
}
.is_pink2 li.tab2.active > a
{
    opacity: 1;
    background-color: #ee9ca1;
}
.is_pink2 #tab2.active .table-small,
.is_pink2 #tab2.active .table-large
{
    border-top: 4px solid #ee9ca1;
}
.is_pink2 #tab2 tr
{
    border-bottom: 1px solid #ee9ca1;
}
.is_pink2 #tab2 .table-small .eventTime
{
    background-color: #ee9ca1;
}
.is_pink2 footer
{
    background-color: #ee9ca1;
}

.is_black
{
    /*
  #modal {
   background-color: $color;
  }
  */
}
.is_black .header
{
    background-color: #000;
}
.is_black .header_siteTitle
{
    background-color: #000;
}
.is_black .sectionTitle span:before,
.is_black .sectionTitle span:after
{
    position: absolute;
    top: 0;

    width: 600px;
    height: 23px;

    content: '';

    border-bottom: 1px solid #000;
}
.is_black li.tab2 > a
{
    opacity: .6;
    background-color: #000;
}
.is_black li.tab2.active > a
{
    opacity: 1;
    background-color: #000;
}
.is_black #tab2.active .table-small,
.is_black #tab2.active .table-large
{
    border-top: 4px solid #000;
}
.is_black #tab2 tr
{
    border-bottom: 1px solid #000;
}
.is_black #tab2 .table-small .eventTime
{
    background-color: #000;
}
.is_black footer
{
    background-color: #000;
}

.is_yellow
{
    /*
  #modal {
   background-color: $color;
  }
  */
}
.is_yellow .header
{
    background-color: #ffb60a;
}
.is_yellow .header_siteTitle
{
    background-color: #ffb60a;
}
.is_yellow .sectionTitle span:before,
.is_yellow .sectionTitle span:after
{
    position: absolute;
    top: 0;

    width: 600px;
    height: 23px;

    content: '';

    border-bottom: 1px solid #ffb60a;
}
.is_yellow li.tab2 > a
{
    opacity: .6;
    background-color: #ffb60a;
}
.is_yellow li.tab2.active > a
{
    opacity: 1;
    background-color: #ffb60a;
}
.is_yellow #tab2.active .table-small,
.is_yellow #tab2.active .table-large
{
    border-top: 4px solid #ffb60a;
}
.is_yellow #tab2 tr
{
    border-bottom: 1px solid #ffb60a;
}
.is_yellow #tab2 .table-small .eventTime
{
    background-color: #ffb60a;
}
.is_yellow footer
{
    background-color: #ffb60a;
}

.is_red .fixInfo
{
    background-color: #333;
}

.is_red .home_eventDay
{
    color: #333;
}

.is_red li.tab1 > a
{
    opacity: .3;
    background-color: #333;
}

.is_red li.tab1.active > a
{
    opacity: 1;
    background-color: #333;
}

.is_red #tab1.active .table-small,
.is_red #tab1.active .table-large
{
    border-top: 4px solid #333;
}

.is_red #tab1 tr
{
    border-bottom: 1px solid #333;
}

.is_red #tab1 .table-small .eventTime
{
    background-color: #333;
}

.is_pink .fixInfo
{
    background-color: #4aa161;
}

.is_pink .home_eventDay
{
    color: #4aa161;
}

.is_pink li.tab1 > a
{
    opacity: .3;
    background-color: #4aa161;
}

.is_pink li.tab1.active > a
{
    opacity: 1;
    background-color: #4aa161;
}

.is_pink #tab1.active .table-small,
.is_pink #tab1.active .table-large
{
    border-top: 4px solid #4aa161;
}

.is_pink #tab1 tr
{
    border-bottom: 1px solid #4aa161;
}

.is_pink #tab1 .table-small .eventTime
{
    background-color: #4aa161;
}

.is_pink2 .fixInfo
{
    background-color: #f1727a;
}

.is_pink2 .home_eventDay
{
    color: #f1727a;
}

.is_pink2 li.tab1 > a
{
    opacity: .3;
    background-color: #f1727a;
}

.is_pink2 li.tab1.active > a
{
    opacity: 1;
    background-color: #f1727a;
}

.is_pink2 #tab1.active .table-small,
.is_pink2 #tab1.active .table-large
{
    border-top: 4px solid #f1727a;
}

.is_pink2 #tab1 tr
{
    border-bottom: 1px solid #f1727a;
}

.is_pink2 #tab1 .table-small .eventTime
{
    background-color: #f1727a;
}

.is_black .fixInfo
{
    background-color: #91200e;
}

.is_black .home_eventDay
{
    color: #91200e;
}

.is_black li.tab1 > a
{
    opacity: .3;
    background-color: #91200e;
}

.is_black li.tab1.active > a
{
    opacity: 1;
    background-color: #91200e;
}

.is_black #tab1.active .table-small,
.is_black #tab1.active .table-large
{
    border-top: 4px solid #91200e;
}

.is_black #tab1 tr
{
    border-bottom: 1px solid #91200e;
}

.is_black #tab1 .table-small .eventTime
{
    background-color: #91200e;
}

.is_yellow .fixInfo
{
    background-color: #464c5c;
}

.is_yellow .home_eventDay
{
    color: #464c5c;
}

.is_yellow li.tab1 > a
{
    opacity: .3;
    background-color: #464c5c;
}

.is_yellow li.tab1.active > a
{
    opacity: 1;
    background-color: #464c5c;
}

.is_yellow #tab1.active .table-small,
.is_yellow #tab1.active .table-large
{
    border-top: 4px solid #464c5c;
}

.is_yellow #tab1 tr
{
    border-bottom: 1px solid #464c5c;
}

.is_yellow #tab1 .table-small .eventTime
{
    background-color: #464c5c;
}

.is_red .home
{
    background-color: #eee;
}

.is_red .nav-tabs li.tab > a
{
    background-color: #eee;
}

.is_red .sponsors
{
    background-color: #eee;
}

.is_pink .home
{
    background-color: #f4f4f4;
}

.is_pink .nav-tabs li.tab > a
{
    background-color: #f4f4f4;
}

.is_pink .sponsors
{
    background-color: #f4f4f4;
}

.is_pink2 .home
{
    background-color: #f4f4f4;
}

.is_pink2 .nav-tabs li.tab > a
{
    background-color: #f4f4f4;
}

.is_pink2 .sponsors
{
    background-color: #f4f4f4;
}

.is_black .home
{
    background-color: #efefef;
}

.is_black .nav-tabs li.tab > a
{
    background-color: #efefef;
}

.is_black .sponsors
{
    background-color: #efefef;
}

.is_yellow .home
{
    background-color: #efefef;
}

.is_yellow .nav-tabs li.tab > a
{
    background-color: #efefef;
}

.is_yellow .sponsors
{
    background-color: #efefef;
}
