/* line 1, C:/omatsuri_tsakura/resource/common/sass/_base.scss */
html,
body {
  height: auto; }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_base.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0;
  padding: 0; }

/* line 14, C:/omatsuri_tsakura/resource/common/sass/_base.scss */
a {
  color: #78B5D9; }

/* line 18, C:/omatsuri_tsakura/resource/common/sass/_base.scss */
#wrap {
  background: #fff; }

/* line 22, C:/omatsuri_tsakura/resource/common/sass/_base.scss */
footer {
  padding: 10px; }

/* line 1, C:/omatsuri_tsakura/resource/common/sass/_layout.scss */
.flexBox {
  display: flex;
  justify-content: center; }

/*---------- section ----------*/
/* line 3, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
section {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  padding: 15px;
  line-height: 1.6; }
  /* line 9, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  section div {
    padding: 0 0 0 5px; }

/* line 14, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
section #map div {
  padding: 0 0 0 0; }

/* line 18, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.sectionTitle {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px; }
  /* line 22, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .sectionTitle span {
    display: inline-block;
    position: relative;
    font-size: 0.6em;
    font-weight: 400;
    text-align: center;
    margin: 0 auto; }
  /* line 30, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .sectionTitle span:before {
    right: 100%;
    margin-right: 15px; }
  /* line 34, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .sectionTitle span:after {
    left: 100%;
    margin-left: 15px; }

/* line 40, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.section_content {
  padding: 15px; }

/*---------- header -----------*/
/* line 47, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 2000; }
  /* line 52, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .header_siteTitle {
    color: #FFF;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
    text-align: center; }
    /* line 59, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
    .header_siteTitle a {
      color: #FFF;
      text-decoration: none; }
  /* line 64, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .header.smaller {
    height: 60px;
    opacity: 0.8; }
    /* line 67, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
    .header.smaller .header_siteTitle {
      padding: 10px 0; }

/*---------- mainImg -----------*/
/* line 76, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.mainImg {
  position: relative;
  top: 60px; }
  /* line 79, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .mainImg_img {
    height: auto;
    width: 100%;
    max-width: 100%; }

/*---------- home -----------*/
/* line 89, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.row {
  margin: 0 auto; }

/* line 93, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.home {
  margin: 60px auto 0 auto;
  position: relative; }
  /* line 96, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_date {
    margin: 20px auto; }
  /* line 99, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_eventInfo {
    display: flex;
    justify-content: center; }
    /* line 102, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
    .home_eventInfo ul {
      margin-right: 40px; }
  /* line 106, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_eventDay {
    font-size: 1.6em;
    font-weight: 900;
    list-style: none; }
  /* line 111, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_eventTime {
    list-style: none; }
    /* line 113, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
    .home_eventTime_caution {
      font-size: .9em;
      margin: 10px auto;
      text-align: center; }
  /* line 119, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_access_place {
    margin-top: 20px; }
  /* line 122, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .home_access_traffic {
    margin: 20px 0 0 20px; }

/* line 127, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_day {
  padding-left: 30px;
  font-size: .9em; }

/*---------- event -----------*/
/* line 135, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.mapcheckbox {
  font-weight: 800; }

/* line 139, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.tab-content td > div,
.tab-content td a > div {
  font-size: 0.8em; }

/* line 144, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.nav > li > a {
  padding: 10px 6px; }

/* line 148, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.nav-tabs li.tab1 > a,
.nav-tabs li.tab2 > a,
.nav-tabs li.tab3 > a {
  color: #FFF;
  font-weight: 800; }

/* line 155, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.table-small {
  display: none;
  width: 100%; }
  /* line 158, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .table-small th {
    text-align: right;
    width: 40%; }
  /* line 162, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
  .table-small .eventTime {
    text-align: left;
    color: #FFF; }

/* line 169, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_schedule div {
  padding-left: 0px; }

/* line 172, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_schedule td {
  padding: 0px 10px; }

/* line 175, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_schedule th {
  padding: 6px 10px; }

/* line 178, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_schedule th > a {
  font-weight: 800; }

/* line 181, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.event_member {
  font-size: .8em; }

/* line 184, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.eventTime {
  font-weight: 800; }

/* line 189, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.panel_heading {
  cursor: pointer; }

/* line 193, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.borderTop {
  border-top: 2px solid #CCC; }

/*
.accordion-toggle {
  border-radius: 0;
  paddinf\g: 5px;
  border: 2px solid #CCC;
  a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: inherit;
  }
  a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: inherit;
  }
}

*/
/*---------- map -----------*/
/* line 222, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
#map {
  width: 100%; }

/*---------- sponsors -----------*/
/* line 229, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.sponsors {
  background-color: #EEE; }

/*---------- nav -----------*/
/* line 236, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.menu-btn {
  background: url(btn-menu.gif) no-repeat left top;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: block;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px; }

/* line 248, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.tooltip-btn {
  background: url(btn-tooltip.gif) no-repeat left top;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: block;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px; }

/* line 260, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
#tooltip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0.5em 0; }

/*---------- toTop -----------*/
/* line 269, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.toTop {
  margin: 20px auto;
  text-align: center; }

/*---------- footer -----------*/
/* line 277, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
footer {
  text-align: center;
  color: #FFF;
  font-weight: 500; }

/*---------- fixInfo ----------*/
/* line 286, C:/omatsuri_tsakura/resource/common/sass/_module.scss */
.fixInfo {
  box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FFF;
  margin: 0 auto;
  overflow: auto;
  position: fixed;
  padding: 12px 20px;
  width: 100%;
  text-align: center;
  z-index: 9999; }

/*---------- modal ----------*/
/*
#modal {
 color: #FFF;
 width: 60%;
 margin: 1.5em auto 0;
 padding: 10px 20px;
 position: fixed;
 z-index: 9999;
 border-radius: 5px;
 p {
  margin-top: 1em;
  &:first-child {
   margin-top: 0;
  }
 }
}

.panel-btn {
 display: inline-block;
 position: relative;
 width: 40px;
 height: 40px;
 margin: 0px 0 0px 90%;
 border-radius: 50%;
 background: #fff;
 &:hover {
  cursor: pointer;
 }
 &-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
  width: 20px;
  height: 3px;
  margin-top: 0px;
  background: #2196F3;
  transform: rotate(-135deg);
  &:before {
   display: block;
   margin: -2px 0px 0 1px;
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   width: 20px;
   height: 3px;
   background: #2196F3;
   transform: rotate(-90deg);
  }
 }
}

.modal-overlay {
 z-index: 1;
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 120%;
 background-color: rgba(0, 0, 0, 0.6);
}

*/
/*---------- custum -----------*/
/* line 4, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
section.ac-container {
  padding: 0; }

/* line 8, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.ac-container label {
  background: #eaeaea;
  height: 14px;
  line-height: 1.2;
  font-size: 1.0em;
  text-shadow: none; }

/* line 16, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.leaflet-control-layers:hover {
  background-image: none;
  background-color: #FFF; }

/* line 21, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.leaflet-control-layers-expanded {
  padding: 4px 5px 0 0; }

/* line 25, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.menu-item-checkbox {
  font-size: 1.0em; }

/* line 29, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.ac-container input.menu:checked ~ article.ac-large {
  max-height: 120px; }

/* line 34, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.nab > li > a {
  padding: 10px 6px; }

/* line 38, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  color: #FFF; }

/* line 43, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.nav-tabs {
  border-bottom: none; }

/* line 48, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.hamburger {
  outline: none;
  padding: 10px; }

/* line 53, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.hamburger-inner {
  background-color: #FFF; }
  /* line 55, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
  .hamburger-inner:before {
    background-color: #FFF; }
  /* line 58, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
  .hamburger-inner:after {
    background-color: #FFF; }

/* line 64, C:/omatsuri_tsakura/resource/common/sass/_custum.scss */
.flexBox.mm-listView > li:not(.mm-divider):after {
  border-bottom: none; }

/*
//resTables
table.restables-clone {
	display: none;
}

@media (max-width: 991px) {
	table.restables-origin {
		display: none;
	}
	table.restables-clone {
		display: table;
	}
*/
/*---------- @media -----------*/
@media (max-width: 768px) {
  /* line 4, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .col-xs-11 {
    width: 80%; }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .col-xs-1 {
    width: 20%; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  section {
    width: 100%; }
  /* line 13, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .header.smaller {
    height: 50px; }
  /* line 16, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .header_siteTitle {
    font-size: 1.0em;
    padding: 10px 0; }
  /* line 20, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .home_eventInfo ul {
    margin-right: 0; }
  /* line 23, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .home_eventInfo {
    flex-direction: column; }
  /* line 26, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  #modal {
    width: 80%; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .leaflet-right .leaflet-control {
    margin-right: 0; }
  /* line 32, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .leaflet-top .leaflet-control {
    margin-top: 0; }
  /* line 35, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .menu-item-checkbox {
    font-size: 0.6em; }
  /* line 38, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .ac-container label {
    font-size: 0.8em; } }

@media (max-width: 960px) {
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .table-large {
    display: none; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_state.scss */
  .table-small {
    display: table; } }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red {
  /*
  #modal {
   background-color: $color;
  }
  */ }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red .header {
    background-color: #BE1E3C; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red .header_siteTitle {
    background-color: #BE1E3C; }
  /* line 14, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red .sectionTitle span:before,
  .is_red .sectionTitle span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 23px;
    border-bottom: 1px solid #BE1E3C;
    width: 600px; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red li.tab2 > a {
    background-color: #BE1E3C;
    opacity: 0.6; }
  /* line 33, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red li.tab2.active > a {
    background-color: #BE1E3C;
    opacity: 1; }
  /* line 39, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red #tab2.active .table-small,
  .is_red #tab2.active .table-large {
    border-top: 4px solid #BE1E3C; }
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red #tab2 tr {
    border-bottom: 1px solid #BE1E3C; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red #tab2 .table-small .eventTime {
    background-color: #BE1E3C; }
  /* line 51, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_red footer {
    background-color: #BE1E3C; }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink {
  /*
  #modal {
   background-color: $color;
  }
  */ }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink .header {
    background-color: #EE9CA1; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink .header_siteTitle {
    background-color: #EE9CA1; }
  /* line 14, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink .sectionTitle span:before,
  .is_pink .sectionTitle span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 23px;
    border-bottom: 1px solid #EE9CA1;
    width: 600px; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink li.tab2 > a {
    background-color: #EE9CA1;
    opacity: 0.6; }
  /* line 33, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink li.tab2.active > a {
    background-color: #EE9CA1;
    opacity: 1; }
  /* line 39, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink #tab2.active .table-small,
  .is_pink #tab2.active .table-large {
    border-top: 4px solid #EE9CA1; }
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink #tab2 tr {
    border-bottom: 1px solid #EE9CA1; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink #tab2 .table-small .eventTime {
    background-color: #EE9CA1; }
  /* line 51, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink footer {
    background-color: #EE9CA1; }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 {
  /*
  #modal {
   background-color: $color;
  }
  */ }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 .header {
    background-color: #EE9CA1; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 .header_siteTitle {
    background-color: #EE9CA1; }
  /* line 14, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 .sectionTitle span:before,
  .is_pink2 .sectionTitle span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 23px;
    border-bottom: 1px solid #EE9CA1;
    width: 600px; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 li.tab2 > a {
    background-color: #EE9CA1;
    opacity: 0.6; }
  /* line 33, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 li.tab2.active > a {
    background-color: #EE9CA1;
    opacity: 1; }
  /* line 39, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 #tab2.active .table-small,
  .is_pink2 #tab2.active .table-large {
    border-top: 4px solid #EE9CA1; }
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 #tab2 tr {
    border-bottom: 1px solid #EE9CA1; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 #tab2 .table-small .eventTime {
    background-color: #EE9CA1; }
  /* line 51, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_pink2 footer {
    background-color: #EE9CA1; }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black {
  /*
  #modal {
   background-color: $color;
  }
  */ }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black .header {
    background-color: #000; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black .header_siteTitle {
    background-color: #000; }
  /* line 14, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black .sectionTitle span:before,
  .is_black .sectionTitle span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 23px;
    border-bottom: 1px solid #000;
    width: 600px; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black li.tab2 > a {
    background-color: #000;
    opacity: 0.6; }
  /* line 33, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black li.tab2.active > a {
    background-color: #000;
    opacity: 1; }
  /* line 39, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black #tab2.active .table-small,
  .is_black #tab2.active .table-large {
    border-top: 4px solid #000; }
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black #tab2 tr {
    border-bottom: 1px solid #000; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black #tab2 .table-small .eventTime {
    background-color: #000; }
  /* line 51, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_black footer {
    background-color: #000; }

/* line 6, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow {
  /*
  #modal {
   background-color: $color;
  }
  */ }
  /* line 7, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow .header {
    background-color: #FFB60A; }
  /* line 10, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow .header_siteTitle {
    background-color: #FFB60A; }
  /* line 14, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow .sectionTitle span:before,
  .is_yellow .sectionTitle span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 23px;
    border-bottom: 1px solid #FFB60A;
    width: 600px; }
  /* line 29, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow li.tab2 > a {
    background-color: #FFB60A;
    opacity: 0.6; }
  /* line 33, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow li.tab2.active > a {
    background-color: #FFB60A;
    opacity: 1; }
  /* line 39, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow #tab2.active .table-small,
  .is_yellow #tab2.active .table-large {
    border-top: 4px solid #FFB60A; }
  /* line 44, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow #tab2 tr {
    border-bottom: 1px solid #FFB60A; }
  /* line 47, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow #tab2 .table-small .eventTime {
    background-color: #FFB60A; }
  /* line 51, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
  .is_yellow footer {
    background-color: #FFB60A; }

/* line 60, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red .fixInfo {
  background-color: #333333; }

/* line 63, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red .home_eventDay {
  color: #333333; }

/* line 66, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red li.tab1 > a {
  background-color: #333333;
  opacity: 0.3; }

/* line 70, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red li.tab1.active > a {
  background-color: #333333;
  opacity: 1; }

/* line 76, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red #tab1.active .table-small,
.is_red #tab1.active .table-large {
  border-top: 4px solid #333333; }

/* line 81, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red #tab1 tr {
  border-bottom: 1px solid #333333; }

/* line 84, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red #tab1 .table-small .eventTime {
  background-color: #333333; }

/* line 60, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink .fixInfo {
  background-color: #4AA161; }

/* line 63, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink .home_eventDay {
  color: #4AA161; }

/* line 66, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink li.tab1 > a {
  background-color: #4AA161;
  opacity: 0.3; }

/* line 70, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink li.tab1.active > a {
  background-color: #4AA161;
  opacity: 1; }

/* line 76, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink #tab1.active .table-small,
.is_pink #tab1.active .table-large {
  border-top: 4px solid #4AA161; }

/* line 81, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink #tab1 tr {
  border-bottom: 1px solid #4AA161; }

/* line 84, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink #tab1 .table-small .eventTime {
  background-color: #4AA161; }

/* line 60, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 .fixInfo {
  background-color: #F1727A; }

/* line 63, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 .home_eventDay {
  color: #F1727A; }

/* line 66, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 li.tab1 > a {
  background-color: #F1727A;
  opacity: 0.3; }

/* line 70, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 li.tab1.active > a {
  background-color: #F1727A;
  opacity: 1; }

/* line 76, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 #tab1.active .table-small,
.is_pink2 #tab1.active .table-large {
  border-top: 4px solid #F1727A; }

/* line 81, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 #tab1 tr {
  border-bottom: 1px solid #F1727A; }

/* line 84, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 #tab1 .table-small .eventTime {
  background-color: #F1727A; }

/* line 60, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black .fixInfo {
  background-color: #91200E; }

/* line 63, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black .home_eventDay {
  color: #91200E; }

/* line 66, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black li.tab1 > a {
  background-color: #91200E;
  opacity: 0.3; }

/* line 70, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black li.tab1.active > a {
  background-color: #91200E;
  opacity: 1; }

/* line 76, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black #tab1.active .table-small,
.is_black #tab1.active .table-large {
  border-top: 4px solid #91200E; }

/* line 81, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black #tab1 tr {
  border-bottom: 1px solid #91200E; }

/* line 84, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black #tab1 .table-small .eventTime {
  background-color: #91200E; }

/* line 60, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow .fixInfo {
  background-color: #464C5C; }

/* line 63, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow .home_eventDay {
  color: #464C5C; }

/* line 66, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow li.tab1 > a {
  background-color: #464C5C;
  opacity: 0.3; }

/* line 70, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow li.tab1.active > a {
  background-color: #464C5C;
  opacity: 1; }

/* line 76, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow #tab1.active .table-small,
.is_yellow #tab1.active .table-large {
  border-top: 4px solid #464C5C; }

/* line 81, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow #tab1 tr {
  border-bottom: 1px solid #464C5C; }

/* line 84, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow #tab1 .table-small .eventTime {
  background-color: #464C5C; }

/* line 94, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red .home {
  background-color: #EEEEEE; }

/* line 97, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red .nav-tabs li.tab > a {
  background-color: #EEEEEE; }

/* line 100, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_red .sponsors {
  background-color: #EEEEEE; }

/* line 94, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink .home {
  background-color: #F4F4F4; }

/* line 97, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink .nav-tabs li.tab > a {
  background-color: #F4F4F4; }

/* line 100, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink .sponsors {
  background-color: #F4F4F4; }

/* line 94, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 .home {
  background-color: #F4F4F4; }

/* line 97, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 .nav-tabs li.tab > a {
  background-color: #F4F4F4; }

/* line 100, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_pink2 .sponsors {
  background-color: #F4F4F4; }

/* line 94, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black .home {
  background-color: #EFEFEF; }

/* line 97, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black .nav-tabs li.tab > a {
  background-color: #EFEFEF; }

/* line 100, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_black .sponsors {
  background-color: #EFEFEF; }

/* line 94, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow .home {
  background-color: #EFEFEF; }

/* line 97, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow .nav-tabs li.tab > a {
  background-color: #EFEFEF; }

/* line 100, C:/omatsuri_tsakura/resource/common/sass/_theme.scss */
.is_yellow .sponsors {
  background-color: #EFEFEF; }

/*# sourceMappingURL=style.css.map */
